
@{
    ViewBag.Title = "FbComments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <aside class="sidebar-left">
                <div class="sidebar-widget">
                    <h4>Facebook</h4>
                    <div class="fb-like-box" data-href="https://www.facebook.com/MoovTn" data-colorscheme="light" data-show-faces="1" data-header="1" data-show-border="1" data-width="233"></div>
                </div>
            </aside>
        </div>
        <div class="col-md-6">
            <div>
                <div class="fb-comments" data-href="https://www.facebook.com/MoovTn" data-numposts="5"></div>
            </div>
        </div>
    </div>
</div>

