@{
    ViewBag.Title = "Forgot Password Confirmation";
}


<br/><br/>

<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <i class="fa fa-check round box-icon-large box-icon-center box-icon-success mb30"></i>
            <h2 class="text-center">An Email has been sent successfully</h2>
            <h5 class="text-center mb30">Please check your email to reset your password.</h5>
           
            
        </div>
    </div>
    <div class="gap"></div>
</div>
	
