@{
    ViewBag.Title = "Reset password confirmation";
}


<br /><br />

<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <i class="fa fa-check round box-icon-large box-icon-center box-icon-success mb30"></i>
            <h2 class="text-center">Your password has been reset</h2>
            <h5 class="text-center mb30">Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</h5>


        </div>
    </div>
    <div class="gap"></div>
</div>
