@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

@Html.ActionLink("Pay Direct With Credit Card","PaymentWithCreditCard","Paypal")
@Html.RouteLink("Pay with Paypal Account", new { action = "PaymentWithPaypal", controller = "Paypal", id = 62 })